.add_user_form {
  background-color: bisque;
  height: 200px;
  width: 60%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 1fr 150px;
  padding: 15px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputs input {
  padding: 5px;
  border: 1px solid black;
}
